/* font-face for Supreme font */
@font-face {
    font-family: supremeFont;
    src: url('/resources/fonts/Futura\ Bold\ Italic\ font.ttf');
}



h1 {
    color: white;
    font-weight: bold;
}

p {
    color: white;
}

html {
    scroll-behavior: smooth;
}

.navbar-link {
    mr-auto: true;
}
.navbar-brand {
    font-family: supremeFont;
    color: white !important; /* Set precedence to override Bootstrap font color */
}

body {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    width: 100%;
}

#home {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #0000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#about {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:  #004466;
    background-image: linear-gradient(62deg, #006699 0%, #004466 100%);
}

#work {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:  #003333;
}
